<div style="height: 100%!important;overflow: auto;" class="">

  <div class="appHeader text-light" >
    <div class="pageTitle">{{areaName}} Water Timing</div>
  <div class="right">
  </div>
</div>
<br> <br> <br>


<div style="height: 100%!important;overflow: auto;margin-bottom: 50px;" class="accordion" id="accordionExample">

  <div   *ngIf="blocks.length > 0; else noblock">

  <div   *ngFor="let block of blocks; let i = index">

    <div  class="card" style="height: 100%!important;overflow: auto;">

      <div class="card-header" id="headingTwo" >
        <h5 class="mb-0">
          <button (click)="getWaterTimingByBlock(block.id)" class="btn btn-link collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#abc'+i"  aria-expanded="false" [attr.aria-controls]="'abc'+i">
            {{block.block_name}}
          </button>
        </h5>
      </div>

      <div [id]="'abc'+i" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">

          <div class="card-body">

          <div   *ngIf="areaWaterTimimg.length > 0; else nowatertiming">

            <div *ngFor="let watertime of areaWaterTimimg" class="">
              
                <div style="width: 100%;height: 50px; margin-bottom: 5px;" class="chip " [style]="watertime.past ? 'background-color:red': 'background-color:green' ">
                <img *ngIf="(watertime.day.slice(0,3)) === 'Mon'" style="width: 45px;height: 40px; padding-left: 10px; padding-top: 5px;" src="assets/icons/mon.png"/>
                <img *ngIf="(watertime.day.slice(0,3)) === 'Tue'" style="width: 45px;height: 40px; padding-left: 10px; padding-top: 5px;" src="assets/icons/tue.png"/>
                <img *ngIf="(watertime.day.slice(0,3)) === 'Wed'" style="width: 45px;height: 40px; padding-left: 10px; padding-top: 5px;" src="assets/icons/wed.png"/>
                <img *ngIf="(watertime.day.slice(0,3)) === 'Thu'" style="width: 45px;height: 40px; padding-left: 10px; padding-top: 5px;" src="assets/icons/thur.png"/>
                <img *ngIf="(watertime.day.slice(0,3)) === 'Fri'" style="width: 45px;height: 40px; padding-left: 10px; padding-top: 5px;" src="assets/icons/fri.png"/>
                <img *ngIf="(watertime.day.slice(0,3)) === 'Sat'" style="width: 45px;height: 40px; padding-left: 10px; padding-top: 5px;" src="assets/icons/sat.png"/>
                <img *ngIf="(watertime.day.slice(0,3)) === 'Sun'" style="width: 45px;height: 40px; padding-left: 10px; padding-top: 5px;" src="assets/icons/sun.png"/>

                <span  class="chip-label">{{watertime.date | date}}</span>
                <span  class="chip-label">{{watertime.start_time | time}} - {{watertime.end_time | time}}</span>
              </div>

              <br>

            </div>

          </div>

          </div>

        </div>

      </div>

  </div>
  </div>

  <!-- </div> -->
  <ng-template #noblock>
          <div class="text-center">
            <p>No Water Timing Available</p>
          </div>
  </ng-template>

  <ng-template #nowatertiming>
    <div class="text-center">
      <p>No Water Timing Available In Your Block</p>
    </div>
  </ng-template>

</div>

</div>
<app-bottom-menu></app-bottom-menu>




