<div class="container" style="height: 100%!important;overflow: auto;">

  <div class="card" style="width: 75%;position: absolute;top: 40%;left: 50%;transform: translate(-50%, -50%);">
    <div class="card-body">
      <h5 class="card-title text-center">Survey</h5>
      <div class="section full mb-2">
        <form [formGroup]="pollingAnswer" (ngSubmit)="surveySubmit(pollingAnswer.value)" >

        <div style="margin-bottom: 10px;" class="section-title">{{pollingquestion.question}}</div>
        <div class="wide-block p-0">
            <div id="option" class="input-list">
                <div style="margin-top: 10px;" class="form-check" *ngFor="let polling of pollingquestion.pollingOptions">
                <div class="" formGroupName="pollingOption">
                  <label>
                      <input name="answer" type="radio" [value]="polling.id" formControlName="id">
                      <span >{{polling.option}}</span>

                    </label>

                  </div>
                </div>
            </div>
        </div>
      <button type="submit" [disabled]="!pollingAnswer.valid" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
    </div>
  </div>
</div>

<div id="toast-15" class="toast-box toast-bottom bg-success">
  <div class="in">
      <div class="text">
          Success Color
      </div>
  </div>
</div>

<div id="toast-16" class="toast-box toast-bottom bg-danger">
  <div class="in">
      <div class="text">
          Danger Color
      </div>
  </div>
</div>

<app-bottom-menu></app-bottom-menu>
