 <!-- loader -->
 <!-- <div id="loader">
    <div class="spinner-border text-primary" role="status"></div>
</div> -->
<!-- * loader -->

<!-- App Capsule -->
<div id="appCapsule" style="height: 100%!important;overflow: auto;display: block;" class="pt-100" >
    <div style="overflow-y: scroll !important;" [style.height.px]="innerHeight">
    <div class="login-form mt-1" >
        <div class="section">
            <img src="assets/logo.png" alt="image" class="form-image imaged w800 rounded">
        </div>
        <div class="section mt-1">
            <!-- <h1>Cantoment Board Faisal Ward 2</h1> -->
            <h2>Complain Portal</h2>
            <!-- <h4>Fill the form to log in</h4> -->
        </div>
        <div class="section mt-1 mb-5">
            <form [formGroup]="login" (ngSubmit)="loginSubmit(login.value)">
                <div class="form-group boxed">
                    <div class="input-wrapper">
                        <input formControlName="email" type="email" class="form-control" id="email"  required #email placeholder="Email address">

                    </div>
                </div>

                <div class="form-group boxed">
                    <div class="input-wrapper">

                        <input type="password" formControlName="password"  placeholder="Password" class="form-control">
                        <!-- [type]="typeChange" class="form-control" required #password -->
                        <!-- <i class="field-icon" >
                            <ion-icon src="assets/eye.svg"></ion-icon>
                        </i> -->


                    </div>
                </div>

                <div class="form-links mt-2">
                    <div>
                        <a (click)="goToRegister()">Register Now</a>
                    </div>
                    <div class="forgot-password">
                       <a  class="forgot-btn color-blue" (click)="goToForgetPassword()"> Forgot Password? </a>
                    </div>
                    <div class="forgot-password">
                        <a  class="forgot-btn color-blue" (click)="addToHomeScreen()"> Add To Home Screen </a>
                     </div>
                    <!-- <div><a (click)="goToForgotPassword()" class="text-muted">Forgot Password?</a></div> -->
                </div>

                <div class="form-button-group">
                    <button type="submit"  class="btn btn-primary btn-block btn-lg">Log in</button>
                </div>
                <!-- <div class="form-button-group">
                    <button   class="btn btn-primary btn-block btn-lg" (click)="this.addToHomeScreen()">Add to Home Screen</button>
                     (click)="check(email.value, password.value);
                </div> -->

            </form>
        </div>
    </div>
</div>


</div>


<div id="toast-15" class="toast-box toast-bottom bg-success">
    <div class="in">
        <div class="text">
            Success Color
        </div>
    </div>
</div>

<div id="toast-16" class="toast-box toast-bottom bg-danger">
    <div class="in">
        <div class="text">
            Danger Color
        </div>
    </div>
</div>
