
<div class="appHeader no-border transparent position-absolute">
    <div class="left">
        <a href="javascript:;" class="headerButton goBack">
        </a>
    </div>
    <div class="pageTitle"></div>
    <div class="right">
        <a (click)="goToLogin()" class="headerButton">
            Login
        </a>
    </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">
    <div style="overflow-y: scroll !important;" [style.height.px]="innerHeight">
    <div class="login-form">
        <div class="section">
            <h1>Register</h1>
            <h4>Fill the form to join us</h4>
        </div>
        <div class="section mt-2 mb-5">
            <form [formGroup]="registerForm"  (ngSubmit)="userSubmit(registerForm.value)">

                <div class="form-group boxed">
                    <div class="input-wrapper">
                        <input type="text" formControlName="firstname" class="form-control" name="firstname" placeholder="First Name">

                         <div class="alert alert-danger"



                         *ngIf="registerForm.controls['firstname'].invalid &&
                         registerForm.controls['firstname'].touched">

                         <span  *ngIf="registerForm.controls['firstname'].errors['required']" class="">
                           First Name Required
                         </span>
                         <span *ngIf="registerForm.controls['firstname'].errors['minlength']" class="">
                           Atleast 3 Albhabet Required
                         </span>
                         <span *ngIf="registerForm.controls['firstname'].errors['pattern']" class="">
                           Wrong Pattern
                         </span>

                        </div>




                        <!-- <div *ngIf="registerForm.controls['firstname'].invalid && registerForm?.controls['firstname'].dirty && registerForm?.controls['firstname'].touched" class="alert alert-danger">Please enter your first name</div> -->

                    </div>
                </div>

                <div class="form-group boxed">
                    <div class="input-wrapper">
                        <input type="text" formControlName="lastname" class="form-control" name="last name"  placeholder="Last Name">

                         <div class="alert alert-danger"
                         *ngIf="registerForm.controls['lastname'].invalid &&
                         registerForm.controls['lastname'].touched">

                         <span  *ngIf="registerForm.controls['lastname'].errors['required']" class="">
                           Last Name Required
                         </span>
                         <span *ngIf="registerForm.controls['lastname'].errors['minlength']" class="">
                           Atleast 3 alphabet Required
                         </span>
                         <span *ngIf="registerForm.controls['lastname'].errors['pattern']" class="">
                          Wrong Pattern
                        </span>
                        </div>
                    </div>
                </div>
                <div class="form-group boxed">
                    <div class="input-wrapper">

                        <input type="text" formControlName="cnic" class="form-control" name="cnic" placeholder="CNIC eg. 4200001234567">

                        <div class="alert alert-danger"
                        *ngIf="registerForm.controls['cnic'].invalid &&
                        registerForm.controls['cnic'].touched">

                        <div  *ngIf="registerForm.controls['cnic'].errors['required']" class="">
                          CNIC Required
                        </div>
                        <!-- <div *ngIf="registerForm.controls['cnic'].errors['minlength']" class="">
                          Atleast 9 Required
                        </div> -->
                        <div *ngIf="registerForm.controls['cnic'].errors['pattern']" class="">
                          Wrong Pattern 13 Character Required
                        </div>
                       </div>

                    </div>
                </div>
                <div class="form-group boxed">
                    <div class="input-wrapper">
                        <input type="text" formControlName="phoneNumber" class="form-control" name="phone number" placeholder="PhoneNumber eg. 03350000000">

                        <div class="alert alert-danger"
                         *ngIf="registerForm.controls['phoneNumber'].invalid &&
                         registerForm.controls['phoneNumber'].touched">

                         <div  *ngIf="registerForm.controls['phoneNumber'].errors['required']" class="">
                           Phone Number Required
                         </div>

                         <div *ngIf="registerForm.controls['phoneNumber'].errors['pattern']" class="">
                           Invalid Number
                         </div>
                        </div>

                    </div>
                </div>
                <div class="form-group boxed">
                    <div class="input-wrapper">
                        <input type="number" formControlName="numberOfFamilyMembers" class="form-control" name="total number of family member" placeholder="Total Number Of Family Member">

                        <div class="alert alert-danger"
                        *ngIf="registerForm.controls['numberOfFamilyMembers'].invalid &&
                        registerForm.controls['numberOfFamilyMembers'].touched">

                        <div  *ngIf="registerForm.controls['numberOfFamilyMembers'].errors['required']" class="">
                          Number Of Family Members Required
                        </div>
                        <!-- <div  *ngIf="registerForm.controls['numberOfFamilyMembers'].errors['maxlength']" class="">
                          Maximum 99 members
                        </div> -->

                       </div>
                    </div>
                </div>

                <div class="form-group boxed">
                    <div class="input-wrapper">
                        <input type="email" formControlName="email" class="form-control" name="email"  placeholder="Email">

                        <div class="alert alert-danger"
                         *ngIf="registerForm.controls['email'].invalid &&
                         registerForm.controls['email'].touched">

                         <div  *ngIf="registerForm.controls['email'].errors['required']" class="">
                           Email Required
                         </div>
                         <div *ngIf="registerForm.controls['email'].errors['email']" class="">
                          Email Is Not Valid
                        </div>

                        </div>

                    </div>
                </div>

                <div class="form-group boxed">
                    <div class="input-wrapper">
                        <input formControlName="password"  class="form-control" name="password" placeholder="Password">

                        <div class="alert alert-danger"
                         *ngIf="registerForm.controls['password'].invalid &&
                         registerForm.controls['password'].touched">

                         <div  *ngIf="registerForm.controls['password'].errors['required']" class="">
                           Password Required
                         </div>
                         <div *ngIf="registerForm.controls['password'].errors['minlength']" class="">
                          Atleast 8 Required
                        </div>
                        </div>


                    </div>
                </div>


                <div class="form-group boxed">
                    <div class="input-wrapper">

                        <select formControlName="property" class="browser-default custom-select" name="userType">
                            <option  value="null" selected disabled>Select Property Type</option>
                            <option  value="Owner" selected>Owner</option>
                            <option  value="Tenant">Tenant</option>
                          </select>
                </div>
                </div>

                <div class="form-group boxed">
                  <div class="input-wrapper" formGroupName="area">
                      <select formControlName="id" (change)="getBlock()"  class="browser-default custom-select" name="area">
                          <option value="null" selected disabled>Select Area</option>
                          <option *ngFor="let area of areas" [value]="area.id">{{area.name}}</option>>
                        </select>
              </div>
              </div>

              <div class="form-group boxed">
                <div formGroupName="block" class="input-wrapper">
                    <select formControlName="id" class="browser-default custom-select" name="userType">
                        <option  value="null" selected disabled>Select Block</option>
                        <option *ngFor="let block of blocks" [value]="block.id">{{block.block_name}}</option>>
                        <!-- <option  value="Tenant">Block B</option> -->
                    </select>

                </div>
            </div>

          <div class="input-wrapper" formGroupName="address">

            <div class="form-group boxed">
              <div class="input-wrapper">
                  <input type="text" formControlName="houseNumber" class="form-control" name="house"  placeholder="House Number">
              </div>
          </div>
          <!-- <div class="form-group boxed">
            <div class="input-wrapper">
                <input type="text" formControlName="floorNumber" class="form-control" name="email"  placeholder="Floor Number">
            </div>
          </div> -->
          <div class="form-group boxed">
            <div class="input-wrapper">
                <select formControlName="floorNumber"  class="browser-default custom-select" name="floorNumber">
                    <option  value="null" selected disabled>Select Your Floor Number</option>
                    <option  value="G">Ground Floor</option>
                    <option  value="1">1st Floor</option>
                    <option  value="2">2nd Floor</option>
                    <option  value="3">3rd Floor</option>
                    <option  value="4">4th Floor</option>
                    <option  value="5">5th Floor</option>
                </select>
        </div>
        </div>


    </div>
            <div class="form-button-group">
                <button type="submit" [disabled]="!registerForm.valid"  class="btn btn-primary btn-block btn-lg">Register</button>
            </div>

            </form>
        </div>
    </div>
</div>
</div>

<div id="toast-15" class="toast-box toast-bottom bg-success">
    <div class="in">
        <div class="text">
            Success Color
        </div>
    </div>
</div>

<div id="toast-16" class="toast-box toast-bottom bg-danger">
    <div class="in">
        <div class="text">
            Danger Color
        </div>
    </div>
</div>

