<!-- <div style=" height: 100%!important;overflow: auto;" class="">

<br> <br> <br> -->

<div class="container" >

  <div class="card" style="width: 75%; position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">
    <div  class="card-body">
      <h3 class="text-center" >Registeration Completed Successfully <span style="margin-left: 10px;">
        <img width="24px" src="assets/icons/success.png"/></span></h3>

      <!-- <h5 class="text-center" >Your Account Is In Review It Will Takes 24 hours</h5> -->

      <h5 class="text-center" >Your Account Is In Review It Will Takes 24 hours To Get Activated</h5>

      <div class="text-center">
        <img  src="assets/icons/pending.png"/>
      </div>


      <!-- <h3 style="font-size:14px;" class="text-center"><span style="padding-right: 10px;">
      <img width="20px" src="assets/icons/success.png"/></span> Phone Number : 0335-7812549</h3> -->
      <!-- <h3 style="font-size:14px;" class="text-center"><span style="padding-right: 10px;">
      <img width="20px" src="assets/icons/address.png"/></span>
      Address : KU Circular Rd, Karachi, Karachi City, Sindh
    </h3> -->
      <!-- <div class="section full mb-2">

    </div> -->
  </div>

</div>

<div class="form-button-group">
  <button type="submit" (click)="backToLogin()"  class="btn btn-primary btn-block btn-lg">Back To Login</button>
</div>

<!-- <div class="forgot-password">
    <a  class="forgot-btn color-blue" (click)="backToLogin()"> Add To Home Screen </a>
</div> -->

</div>

<!-- <app-bottom-menu></app-bottom-menu> -->
